@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@layer base {
  html {
    font-family: "Oxygen", sans-serif;
  }
}

/* inspector for out of bound divs */
/* * {
    outline: 1px solid #f00 !important; 
} */
.skillcard {
  border-image: radial-gradient(circle at top left , rgb(28, 255, 236),transparent 50%);
  border-image-slice: 1;
}


    /* background: rgb(0,255,209);
    background: linear-gradient(58deg, rgba(0,255,209,1) 0%, rgba(0,211,255,1) 100%); */
